{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
	
    <h1>Créer une nouvelle catégorie</h1>
	<div>
    	{{ include('categorie/_form.html.twig') }}
	</div>
{% endblock %}